@charset "UTF-8";
/* ブレークポイント */
/* A Modern CSS Reset */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
/* ul[class],
ol[class] {
  padding: 0;
} */
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 2.6666666667vw;
  color: #000;
}
@media (min-width: 767px) {
  html {
    font-size: 1vw;
  }
}
@media (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}

body {
  font-family: "Noto Sans JP", "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}
@media (min-width: 768px) {
  body {
    background-image: url(../../images/rose_bg_pc.jpg);
    background-size: cover;
  }
}
body * {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  vertical-align: bottom;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.container {
  display: block;
  width: 90.8%;
  margin: 0 auto;
  background-color: #fff;
}
@media (min-width: 768px) {
  .container {
    width: 100%;
    max-width: 108rem;
  }
}

.sp-br {
  display: block;
}
@media (min-width: 768px) {
  .sp-br {
    display: none;
  }
}

header {
  height: 7rem;
  background-color: #fff;
}
@media (min-width: 768px) {
  header {
    height: 7.4rem;
  }
}
header .headerContainer {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
}
header .headerContainer img {
  display: block;
  width: 17.7rem;
  height: 1.8rem;
  margin-left: 0.8rem;
}
@media (min-width: 768px) {
  header .headerContainer img {
    width: 35.6rem;
    height: 3.7rem;
    margin-left: 2.3rem;
  }
}
header .headerContainer a {
  display: block;
  width: 15.4rem;
  height: 3.6rem;
  background: #ea7c98;
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.1666666667;
  font-weight: 100;
  border-radius: 1rem;
  padding: 1rem 0;
  margin-right: 0.8rem;
}
@media (min-width: 768px) {
  header .headerContainer a {
    width: 24.4rem;
    height: 5.8rem;
    font-size: 1.6rem;
    line-height: 1;
    padding: 2rem 0;
    margin-right: 2.2rem;
  }
}

.p-mainVisual {
  margin-bottom: 4.1rem;
}
@media (min-width: 768px) {
  .p-mainVisual {
    height: 91.1rem;
    margin-bottom: unset;
  }
}
@media (min-width: 768px) {
  .p-mainVisual .mainVisualContainer {
    position: relative;
  }
}
@media (min-width: 768px) {
  .p-mainVisual .mainVisualContainer .mainBg {
    width: 100%;
    height: 22.8rem;
    background: #fff;
    opacity: 0.3;
    position: absolute;
    bottom: 0;
    z-index: 10;
    padding: 4.8rem 6rem;
  }
}
.p-mainVisual .mainVisualContainer h1 {
  display: block;
  font-family: "Noto Serif JP";
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  margin-top: 4.3rem;
}
@media (min-width: 768px) {
  .p-mainVisual .mainVisualContainer h1 {
    position: absolute;
    left: 6rem;
    bottom: 3.4rem;
    z-index: 100;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin-top: unset;
  }
}
.p-mainVisual .mainVisualContainer h1 span {
  display: block;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2916666667;
  margin-top: 1.7rem;
}
@media (min-width: 768px) {
  .p-mainVisual .mainVisualContainer h1 span {
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: unset;
  }
}

.p-point .pointContainer {
  margin-bottom: 3.4rem;
}
@media (min-width: 768px) {
  .p-point .pointContainer {
    padding: 6.8rem 0 7.2rem;
    margin-bottom: unset;
  }
}
.p-point .pointContainer ul {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .p-point .pointContainer ul {
    position: relative;
    justify-content: center;
    gap: 11.4rem;
  }
}
.p-point .pointContainer ul li {
  text-align: center;
}
@media (min-width: 768px) {
  .p-point .pointContainer ul li {
    width: 18rem;
  }
  .p-point .pointContainer ul li:first-of-type::before {
    content: "";
    position: absolute;
    border-left: 1px solid #000;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
  }
}
.p-point .pointContainer ul li .pointTitle {
  display: block;
  width: 15.6rem;
  height: 15.6rem;
  margin: 0 auto;
  color: #e83b89;
  font-family: "Noto Serif JP";
  font-size: 2rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  padding: 4rem 0;
  border: 2px solid #e9448f;
  border-radius: 50%;
}
@media (min-width: 768px) {
  .p-point .pointContainer ul li .pointTitle {
    padding: 3.6rem 0;
  }
}
.p-point .pointContainer ul li .pointTitle span {
  display: block;
  font-size: 4.7rem;
  font-weight: 100;
  margin-top: 0.8rem;
}
.p-point .pointContainer ul li p {
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 1.8235294118;
  margin-top: 1.9rem;
}
@media (min-width: 768px) {
  .p-point .pointContainer ul li p {
    font-size: 2.4rem;
    line-height: 1.5;
  }
}

.p-contact {
  background: #fff0fd;
}
@media (min-width: 768px) {
  .p-contact {
    background: unset;
  }
}
.p-contact .contactContainer {
  background: #fff0fd;
  padding-top: 4.4rem;
  padding-bottom: 3.4rem;
  text-align: center;
}
@media (min-width: 768px) {
  .p-contact .contactContainer {
    padding-top: 6.2rem;
    padding-bottom: 6.4rem;
  }
}
.p-contact .contactContainer .contactTitle {
  font-family: "Noto Serif JP";
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.7777777778;
  color: #e83b89;
}
@media (min-width: 768px) {
  .p-contact .contactContainer .contactTitle {
    font-size: 2.8rem;
    line-height: 1.5;
  }
}
.p-contact .contactContainer .contactTitle span {
  font-size: 2.4rem;
  line-height: 1.3333333333;
}
@media (min-width: 768px) {
  .p-contact .contactContainer .contactTitle span {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}
.p-contact .contactContainer .contactTitle::before, .p-contact .contactContainer .contactTitle::after {
  content: "＼";
  font-size: 2.4rem;
  line-height: 1.3333333333;
}
@media (min-width: 768px) {
  .p-contact .contactContainer .contactTitle::before, .p-contact .contactContainer .contactTitle::after {
    font-size: 3.5rem;
    line-height: 1.0285714286;
  }
}
.p-contact .contactContainer .contactTitle::after {
  content: "／";
}
.p-contact .contactContainer a {
  display: block;
  width: 18.1rem;
  height: 4.6rem;
  background: #ea7c98;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 100;
  line-height: 1;
  border-radius: 15px;
  margin: 2.3rem auto 2.2rem;
  padding: 1.4rem 0;
}
@media (min-width: 768px) {
  .p-contact .contactContainer a {
    width: 41rem;
    height: 7.8rem;
    font-size: 2.8rem;
    padding: 2.3rem;
    margin: 4.6rem auto 4.2rem;
  }
}
.p-contact .contactContainer p {
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.6666666667;
}
@media (min-width: 768px) {
  .p-contact .contactContainer p {
    font-size: 2.4rem;
    line-height: 1.5;
  }
}
.p-contact .contactContainer.seminor {
  width: 91.5%;
  padding-top: 3.7rem;
  padding-bottom: 4rem;
}
@media (min-width: 768px) {
  .p-contact .contactContainer.seminor {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
.p-contact .contactContainer.seminor p {
  margin-bottom: 2.3rem;
}
@media (min-width: 768px) {
  .p-contact .contactContainer.seminor p {
    margin-bottom: 4.4rem;
  }
}
.p-contact .contactContainer.seminor a {
  margin-bottom: unset;
}
@media (min-width: 768px) {
  .p-contact .contactContainer.seminor a {
    margin-top: 3.4rem;
  }
}
.p-contact .contactContainer.seminorDetail {
  padding-bottom: 1.8rem;
}
@media (min-width: 768px) {
  .p-contact .contactContainer.seminorDetail {
    padding-bottom: 2.8rem;
  }
}
.p-contact .contactContainer.seminorDetail a {
  margin-top: 1.9rem;
}
@media (min-width: 768px) {
  .p-contact .contactContainer.seminorDetail a {
    margin-top: 4.8rem;
  }
}
.p-contact .contactContainer.merit {
  padding-bottom: 1.8rem;
}
@media (min-width: 768px) {
  .p-contact .contactContainer.merit {
    padding-bottom: 3rem;
  }
}
.p-contact .contactContainer.merit a {
  margin-top: 2rem;
}
@media (min-width: 768px) {
  .p-contact .contactContainer.merit a {
    margin-top: 4.5rem;
  }
}
.p-contact .contactContainer.voice {
  padding-top: 3.4rem;
  padding-bottom: 1.8rem;
}
@media (min-width: 768px) {
  .p-contact .contactContainer.voice {
    padding-top: 6.2rem;
    padding-bottom: 2.8rem;
  }
}
.p-contact .contactContainer.voice a {
  margin-top: 2.1rem;
}
@media (min-width: 768px) {
  .p-contact .contactContainer.voice a {
    margin-top: 4.6rem;
  }
}

@media (min-width: 768px) {
  .p-thinking .thinkingContainer {
    position: relative;
  }
}
.p-thinking .thinkingContainer h2 {
  font-family: "Noto Serif JP";
  color: #e83b89;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.7777777778;
  margin-top: 4.4rem;
  margin-bottom: 2.5rem;
  text-shadow: 2px 2px 2px rgb(255, 255, 255);
}
@media (min-width: 768px) {
  .p-thinking .thinkingContainer h2 {
    position: absolute;
    font-size: 3rem;
    line-height: 1.8;
    margin-top: unset;
    margin-bottom: unset;
    top: 6.9rem;
    right: 3.1rem;
  }
}
.p-thinking .thinkingContainer h2 span {
  font-size: 2.4rem;
  line-height: 1.3333333333;
}
@media (min-width: 768px) {
  .p-thinking .thinkingContainer h2 span {
    font-size: 3.5rem;
    line-height: 1.5428571429;
  }
}
.p-thinking .thinkingContainer img {
  width: 100%;
  height: 22.7rem;
  background-size: cover;
}
@media (min-width: 768px) {
  .p-thinking .thinkingContainer img {
    height: 72rem;
  }
}
.p-thinking .thinkingContainer .thinkingContents {
  margin-top: 2.6rem;
}
@media (min-width: 768px) {
  .p-thinking .thinkingContainer .thinkingContents {
    position: absolute;
    top: 20.6rem;
    right: 3.1rem;
  }
}
.p-thinking .thinkingContainer .thinkingContents p {
  font-family: "Noto Serif JP";
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.8235294118;
  margin-bottom: 0.1rem;
}
@media (min-width: 768px) {
  .p-thinking .thinkingContainer .thinkingContents p {
    font-size: 2.5rem;
    line-height: 1;
    background: #fff;
    padding: 0.4rem 1.4rem;
    margin-bottom: 2.4rem;
  }
}
.p-thinking .thinkingContainer .thinkingContents p:nth-of-type(3) {
  margin-bottom: 0.2rem;
}
@media (min-width: 768px) {
  .p-thinking .thinkingContainer .thinkingContents p:nth-of-type(3) {
    margin-bottom: 2.4rem;
  }
}

.p-seminor .seminorContainer {
  padding-top: 3.6rem;
  padding-bottom: 3.2rem;
}
@media (min-width: 768px) {
  .p-seminor .seminorContainer {
    padding-top: 9rem;
    padding-bottom: unset;
  }
}
.p-seminor .seminorContainer h2 {
  font-family: "Noto Serif JP";
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.7777777778;
  color: #e83b89;
  text-align: center;
  margin-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .p-seminor .seminorContainer h2 {
    font-size: 2.8rem;
    line-height: 2.5;
    margin-bottom: 8.4rem;
  }
}
.p-seminor .seminorContainer h2 span {
  font-size: 2.4rem;
  line-height: 1.3333333333;
}
@media (min-width: 768px) {
  .p-seminor .seminorContainer h2 span {
    font-size: 3.5rem;
    line-height: 2;
  }
}
.p-seminor .seminorContainer img {
  height: 17.3rem;
  background-size: cover;
}
@media (min-width: 768px) {
  .p-seminor .seminorContainer img {
    width: 100%;
    height: 55rem;
  }
}
.p-seminor .seminorContainer .seminorContents {
  position: relative;
}
.p-seminor .seminorContainer .seminorContents .seminorTexts {
  position: absolute;
  top: 29%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #353434;
}
.p-seminor .seminorContainer .seminorContents .seminorTexts h3 {
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .p-seminor .seminorContainer .seminorContents .seminorTexts h3 {
    font-size: 2.8rem;
    letter-spacing: 0.02em;
    margin-bottom: 1.2rem;
  }
}
.p-seminor .seminorContainer .seminorContents .seminorTexts p {
  font-family: "Noto Serif JP";
  font-size: 1.3rem;
  font-weight: 900;
  line-height: 1.7692307692;
}
@media (min-width: 768px) {
  .p-seminor .seminorContainer .seminorContents .seminorTexts p {
    font-size: 3rem;
    line-height: 2.1666666667;
    letter-spacing: 0.02em;
  }
}
.p-seminor .seminorContainer .seminorContents .seminorTexts p span {
  font-size: 1.6rem;
  line-height: 1.4375;
}
@media (min-width: 768px) {
  .p-seminor .seminorContainer .seminorContents .seminorTexts p span {
    font-size: 4rem;
    line-height: 1.625;
  }
}

.p-solution .solutionContainer {
  padding-bottom: 3.6rem;
}
@media (min-width: 768px) {
  .p-solution .solutionContainer {
    padding: 11.4rem 5.8rem 9.2rem;
  }
}
.p-solution .solutionContainer h2 {
  color: #e83b89;
  font-family: "Noto Serif JP";
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.7777777778;
  text-align: center;
  margin-bottom: 3.7rem;
}
@media (min-width: 768px) {
  .p-solution .solutionContainer h2 {
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 1.4285714286;
    margin-bottom: 12.8rem;
  }
}
.p-solution .solutionContainer h2 .sp-design {
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 1.3333333333;
}
@media (min-width: 768px) {
  .p-solution .solutionContainer h2 .sp-design {
    font-size: unset;
    line-height: unset;
  }
}
@media (min-width: 768px) {
  .p-solution .solutionContainer h2 .pc-design {
    font-size: 4rem;
    line-height: 1;
  }
}
.p-solution .solutionContainer .solutionContents {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
  margin-bottom: 3rem;
}
.p-solution .solutionContainer h3 {
  color: #e83b89;
  text-align: center;
  font-family: "Noto Serif JP";
  font-size: 1.8rem;
  font-weight: 900;
  line-height: 1.7777777778;
}
@media (min-width: 768px) {
  .p-solution .solutionContainer h3 {
    font-size: 3.5rem;
    line-height: 2;
  }
}
.p-solution .solutionContainer h3 span {
  font-size: 2.4rem;
  line-height: 1.3333333333;
}
@media (min-width: 768px) {
  .p-solution .solutionContainer h3 span {
    font-size: unset;
    line-height: unset;
  }
}

.p-seminorDetail .seminorDetailContainer {
  padding-top: 3.6rem;
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .p-seminorDetail .seminorDetailContainer {
    padding-top: 8.4rem;
    padding-bottom: unset;
  }
}
.p-seminorDetail .seminorDetailContainer h2 {
  font-family: "Noto Serif JP";
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.8235294118;
  text-align: center;
  margin-bottom: 3.8rem;
}
@media (min-width: 768px) {
  .p-seminorDetail .seminorDetailContainer h2 {
    font-size: 2.8rem;
    line-height: 2;
  }
}

.p-merit .meritContainer {
  background-image: url("../../../images/merit_bg_pc.jpg");
  background-size: cover;
  padding: 4rem 1.3rem 4rem;
}
@media (min-width: 768px) {
  .p-merit .meritContainer {
    max-width: 108rem;
    display: block;
    width: 90.8%;
    margin: 0 auto;
    padding: 9.4rem 10.5rem 9.8rem;
  }
}
.p-merit .meritContainer h2 {
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.3888888889;
  text-align: center;
}
@media (min-width: 768px) {
  .p-merit .meritContainer h2 {
    font-size: 3rem;
    line-height: 1.8;
  }
}
.p-merit .meritContainer h2 span {
  position: relative;
}
.p-merit .meritContainer h2 span::before, .p-merit .meritContainer h2 span::after {
  position: absolute;
  bottom: 0.1rem;
  display: block;
  content: "";
  width: 1.9rem;
  height: 2.4rem;
  background-image: url(../../../images/flower_midashi_pc.png);
  background-size: cover;
}
@media (min-width: 768px) {
  .p-merit .meritContainer h2 span::before, .p-merit .meritContainer h2 span::after {
    width: 4.3rem;
    height: 5.4rem;
    bottom: -0.8rem;
  }
}
.p-merit .meritContainer h2 span::before {
  left: -3.3rem;
}
@media (min-width: 768px) {
  .p-merit .meritContainer h2 span::before {
    left: -7rem;
  }
}
.p-merit .meritContainer h2 span::after {
  right: -2.4rem;
}
@media (min-width: 768px) {
  .p-merit .meritContainer h2 span::after {
    right: -7.4rem;
  }
}
.p-merit .meritContainer .meritContents {
  margin-top: 1.8rem;
}
@media (min-width: 768px) {
  .p-merit .meritContainer .meritContents {
    margin-top: 8.4rem;
  }
}
.p-merit .meritContainer .meritContents dl {
  margin-bottom: 1.3rem;
}
@media (min-width: 768px) {
  .p-merit .meritContainer .meritContents dl {
    margin-bottom: 6rem;
  }
}
.p-merit .meritContainer .meritContents dl dd {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 2;
  color: #e83b89;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .p-merit .meritContainer .meritContents dl dd {
    font-size: 2.3rem;
    line-height: 1;
    margin-bottom: 3rem;
  }
}
.p-merit .meritContainer .meritContents dl dt {
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.3076923077;
}
@media (min-width: 768px) {
  .p-merit .meritContainer .meritContents dl dt {
    font-size: 1.8rem;
    line-height: 1;
  }
}
.p-merit .meritContainer .meritContents dl:last-of-type {
  margin-bottom: unset;
}

.p-voice {
  background-image: linear-gradient(transparent 90%, #f0f9fd 90%), linear-gradient(90deg, transparent 90%, #f0f9fd 90%);
  background-color: #fff;
  background-size: 1.5rem 1.5rem;
}
@media (min-width: 768px) {
  .p-voice {
    width: 100%;
    max-width: 108rem;
    margin: 0 auto;
  }
}
.p-voice .voiceContainer {
  background: unset;
  padding-top: 3.8rem;
  text-align: center;
}
@media (min-width: 768px) {
  .p-voice .voiceContainer {
    padding-top: 10rem;
  }
}
.p-voice .voiceContainer h2 {
  position: relative;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.3888888889;
  margin-bottom: 0.6rem;
}
@media (min-width: 768px) {
  .p-voice .voiceContainer h2 {
    font-size: 3rem;
    line-height: 1.8;
    margin-bottom: 2.6rem;
  }
}
.p-voice .voiceContainer h2::before, .p-voice .voiceContainer h2::after {
  position: absolute;
  bottom: 0.1rem;
  display: block;
  content: "";
  width: 1.9rem;
  height: 2.3rem;
  background-image: url(../../../images/flower_midashi_pc.png);
  background-size: cover;
}
@media (min-width: 768px) {
  .p-voice .voiceContainer h2::before, .p-voice .voiceContainer h2::after {
    width: 4.3rem;
    height: 5.3rem;
  }
}
.p-voice .voiceContainer h2::before {
  left: -2.5rem;
}
@media (min-width: 768px) {
  .p-voice .voiceContainer h2::before {
    left: -7.6rem;
  }
}
.p-voice .voiceContainer h2::after {
  right: -2.7rem;
}
@media (min-width: 768px) {
  .p-voice .voiceContainer h2::after {
    right: -7.7rem;
  }
}
.p-voice .voiceContainer ul {
  padding-bottom: 4.6rem;
}
@media (min-width: 768px) {
  .p-voice .voiceContainer ul {
    width: 89.5%;
    margin: 0 auto;
    padding-bottom: 9.6rem;
  }
}
.p-voice .voiceContainer ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.2rem;
  border-bottom: 1px solid #000;
  text-align: left;
  min-height: 4.1rem;
  margin-top: 1.2rem;
  padding-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .p-voice .voiceContainer ul li {
    gap: 4.6rem;
    margin-top: unset;
    padding-bottom: unset;
    align-items: center;
    margin-top: 4.4rem;
  }
}
.p-voice .voiceContainer ul li img {
  width: 3rem;
  padding-left: 0.2rem;
}
@media (min-width: 768px) {
  .p-voice .voiceContainer ul li img {
    width: 6rem;
    height: 7.2rem;
    margin-top: auto;
  }
}
.p-voice .voiceContainer ul li .anonymous {
  width: 4rem;
  color: #e83b89;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.1538461538;
}
@media (min-width: 768px) {
  .p-voice .voiceContainer ul li .anonymous {
    width: 6rem;
    font-size: 1.8rem;
    line-height: 1.6666666667;
  }
}
.p-voice .voiceContainer ul li .text {
  width: 70%;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.1538461538;
}
@media (min-width: 768px) {
  .p-voice .voiceContainer ul li .text {
    display: inline-block;
    width: 78%;
    font-size: 1.8rem;
    line-height: 1.6666666667;
  }
}

.p-instractor {
  background-image: linear-gradient(0deg, rgb(252, 235, 240) 0%, rgb(252, 235, 240) 15%, rgb(255, 252, 247) 30%, rgb(254, 246, 229) 70%, rgb(252, 236, 240) 85%, rgb(252, 235, 240) 100%);
}
@media (min-width: 768px) {
  .p-instractor {
    background-image: unset;
  }
}
.p-instractor .instractorContainer {
  background: unset;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4.3rem;
}
@media (min-width: 768px) {
  .p-instractor .instractorContainer {
    background-image: linear-gradient(-45deg, rgb(252, 235, 240) 0%, rgb(252, 235, 240) 15%, rgb(255, 252, 247) 30%, rgb(254, 246, 229) 70%, rgb(252, 236, 240) 86%, rgb(252, 235, 240) 100%);
    padding-left: 14.7%;
    padding-right: 14.7%;
    padding-top: 10.8rem;
    padding-bottom: 9.3rem;
  }
}
.p-instractor .instractorContainer h2 {
  position: relative;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.3888888889;
  margin-bottom: 2.3rem;
}
@media (min-width: 768px) {
  .p-instractor .instractorContainer h2 {
    font-size: 3rem;
    line-height: 1.8;
    margin-bottom: 6.6rem;
  }
}
.p-instractor .instractorContainer h2::before, .p-instractor .instractorContainer h2::after {
  position: absolute;
  bottom: 0.2rem;
  display: block;
  content: "";
  width: 1.9rem;
  height: 2.3rem;
  background-image: url(../../../images/flower_midashi_pc.png);
  background-size: cover;
}
@media (min-width: 768px) {
  .p-instractor .instractorContainer h2::before, .p-instractor .instractorContainer h2::after {
    bottom: 0.4rem;
    width: 4.3rem;
    height: 5.3rem;
  }
}
.p-instractor .instractorContainer h2::before {
  left: -2.5rem;
}
@media (min-width: 768px) {
  .p-instractor .instractorContainer h2::before {
    left: -6.6rem;
  }
}
.p-instractor .instractorContainer h2::after {
  right: -2.7rem;
}
@media (min-width: 768px) {
  .p-instractor .instractorContainer h2::after {
    right: -6.7rem;
  }
}
.p-instractor .instractorContainer .introduction {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.5;
  text-align: left;
}
@media (min-width: 768px) {
  .p-instractor .instractorContainer .introduction {
    font-size: 2.3rem;
    line-height: 1.7391304348;
  }
}
.p-instractor .instractorContainer img {
  width: 16.7rem;
  height: 25rem;
  background-size: cover;
  margin: 1.4rem auto 1.8rem;
}
@media (min-width: 768px) {
  .p-instractor .instractorContainer img {
    width: 31.6rem;
    height: 47.5rem;
    margin: 6.6rem auto 7.3rem;
  }
}
.p-instractor .instractorContainer .name {
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 1.3125;
  margin-bottom: 1.6rem;
}
@media (min-width: 768px) {
  .p-instractor .instractorContainer .name {
    font-size: 3rem;
    line-height: 1;
    margin-bottom: 7.4rem;
  }
}
.p-instractor .instractorContainer .name span {
  font-size: 1.4rem;
}
@media (min-width: 768px) {
  .p-instractor .instractorContainer .name span {
    font-size: 2.5rem;
    line-height: 1.2;
  }
}
.p-instractor .instractorContainer .career {
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 1.3076923077;
  text-align: left;
}
@media (min-width: 768px) {
  .p-instractor .instractorContainer .career {
    font-size: 1.8rem;
    line-height: 1.6666666667;
  }
}

.c-swiper {
  width: 100%;
  overflow: hidden;
}
.c-swiper .swiper-wrapper {
  width: 100%;
  height: 25rem;
}
@media (min-width: 768px) {
  .c-swiper .swiper-wrapper {
    height: 100%;
  }
}
.c-swiper .swiper-wrapper .swiper-slide img {
  background-size: cover;
}
.c-swiper .swiperPage {
  display: none;
}

@media (min-width: 768px) {
  .c-solutionCard {
    display: flex;
    flex-direction: row;
    margin-bottom: 7.2rem;
  }
}
.c-solutionCard img {
  height: 25.5rem;
  background-size: cover;
}
@media (min-width: 768px) {
  .c-solutionCard img {
    width: 42.3rem;
    height: 31.7rem;
    margin-right: 4.5rem;
  }
}
.c-solutionCard .solutionContent .solutionTitle {
  position: relative;
  height: 7rem;
  margin-top: 1.3rem;
  margin-bottom: 1.4rem;
}
@media (min-width: 768px) {
  .c-solutionCard .solutionContent .solutionTitle {
    position: relative;
    height: 10rem;
    margin-top: unset;
    margin-bottom: 3.8rem;
  }
}
.c-solutionCard .solutionContent .solutionTitle span {
  position: absolute;
  top: 0;
  color: #bfeef4;
  font-family: "Oleo Script";
  font-size: 7rem;
  font-weight: 400;
  line-height: 1;
}
@media (min-width: 768px) {
  .c-solutionCard .solutionContent .solutionTitle span {
    position: absolute;
    top: -1rem;
    left: 0;
    font-size: 10rem;
  }
}
.c-solutionCard .solutionContent .solutionTitle h3 {
  position: absolute;
  bottom: 0.4rem;
  font-size: 1.8rem;
  font-weight: 100;
  line-height: 1.1111111111;
  z-index: 1;
}
@media (min-width: 768px) {
  .c-solutionCard .solutionContent .solutionTitle h3 {
    font-size: 2.4rem;
    line-height: 1.0416666667;
    bottom: 1rem;
  }
}
.c-solutionCard .solutionContent p {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .c-solutionCard .solutionContent p {
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
.c-solutionCard .solutionContent p.p02 {
  margin-bottom: -0.3rem;
}
@media (min-width: 768px) {
  .c-solutionCard.reverse {
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) {
  .c-solutionCard.reverse img {
    margin-right: unset;
    margin-left: 4.5rem;
  }
}

@media (min-width: 768px) {
  .c-accordionCards {
    padding: 5.8rem 6.6rem 5rem;
  }
}
.c-accordionCards .accordionContents {
  margin-bottom: 1.84rem;
}
.c-accordionCards .accordionContents .accordion-title {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #e42677;
  color: #e83b89;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.4285714286;
  padding-left: 0.8rem;
  padding-bottom: 0.4rem;
}
@media (min-width: 768px) {
  .c-accordionCards .accordionContents .accordion-title {
    font-size: 2.3rem;
    line-height: 1;
    padding-left: unset;
    padding-bottom: 1rem;
  }
}
.c-accordionCards .accordionContents .accordion-title::after {
  position: absolute;
  top: -0.1rem;
  right: 0.6rem;
  display: block;
  content: "+";
  width: 2rem;
  height: 2rem;
  background: #e42677;
  color: #fff;
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 100;
  text-align: center;
}
@media (min-width: 768px) {
  .c-accordionCards .accordionContents .accordion-title::after {
    top: -1rem;
    right: 1rem;
    width: 3.6rem;
    height: 3.6rem;
    font-size: 1.6rem;
    line-height: 3.6rem;
  }
}
.c-accordionCards .accordionContents .accordion-title.active::after {
  content: "ー";
  font-size: 1.2rem;
  line-height: 2rem;
}
@media (min-width: 768px) {
  .c-accordionCards .accordionContents .accordion-title.active::after {
    font-size: 1.6rem;
    line-height: 3.6rem;
  }
}
.c-accordionCards .accordionContents .accordion-content {
  padding: 1rem 0 0 2.4rem;
}
@media (min-width: 768px) {
  .c-accordionCards .accordionContents .accordion-content {
    padding: 1.8rem 8rem 3.6rem;
  }
}
.c-accordionCards .accordionContents .accordion-content li {
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .c-accordionCards .accordionContents .accordion-content li {
    font-size: 1.8rem;
    line-height: 1.2777777778;
    margin-bottom: 1.2rem;
  }
  .c-accordionCards .accordionContents .accordion-content li:last-of-type {
    margin-bottom: unset;
  }
}
.c-accordionCards .accordionContents .accordion-content li::before {
  content: "・";
}

/* @use "object/project/body-filter"; */
/* @use "object/utility/spacing"; */

/*# sourceMappingURL=style.css.map */
