@use "../../foundation/mixins" as min;
@use "../../foundation/variables" as var;

.p-voice {
    background-image: linear-gradient(transparent 90%, #f0f9fd 90%), linear-gradient(90deg, transparent 90%, #f0f9fd 90%);
    background-color: #fff;
    background-size: 1.5rem 1.5rem;

    @include min.breakpoint(pc) {
        width: 100%;
        max-width: 108rem;
        margin: 0 auto;
    }

    .voiceContainer {
        background: unset;
        padding-top: 3.8rem;
        text-align: center;

        @include min.breakpoint(pc) {
            padding-top: 10rem;
        }

        h2 {
            position: relative;
            display: inline-block;
            font-size: 1.8rem;
            font-weight: 100;
            line-height: calc(25 / 18);
            margin-bottom: 0.6rem;

            @include min.breakpoint(pc) {
                font-size: 3rem;
                line-height: calc(54 / 30);
                margin-bottom: 2.9rem;
            }

            &::before, &::after {
                position: absolute;
                bottom: 0.1rem;
                display: block;
                content: "";
                width: 1.9rem;
                height: 2.3rem;
                background-image: url(../../../images/flower_midashi_pc.png);
                background-size: cover;

                @include min.breakpoint(pc) {
                    width: 4.3rem;
                    height: 5.3rem;
                }
            }

            &::before {
                left: -2.5rem;

                @include min.breakpoint(pc) {
                    left: -7.6rem;
                }
            }

            &::after {
                right: -2.7rem;

                @include min.breakpoint(pc) {
                    right: -7.7rem;
                }
            }
        }

        ul {
            padding-bottom: 4.6rem;

            @include min.breakpoint(pc) {
                width: 89.5%;
                margin: 0 auto;
                padding-bottom: 9.6rem;
            }

            li {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1.2rem;
                border-bottom: 1px solid var.$main-color;
                text-align: left;
                min-height: 4.1rem;
                margin-top: 1.2rem;
                padding-bottom: 0.5rem;

                @include min.breakpoint(pc) {
                    gap: 4.6rem;
                    margin-top: unset;
                    padding-bottom: unset;
                    align-items: center;
                    margin-top: 4.4rem;
                }

                img {
                    width: 3rem;
                    padding-left: 0.2rem;

                    @include min.breakpoint(pc) {
                        width: 6rem;
                        height: 7.2rem;
                        margin-top: auto;
                    }
                }

                .anonymous {
                    width: 4rem;
                    color: #e28fc7;
                    font-size: 1.3rem;
                    font-weight: 100;
                    line-height: calc(15 / 13);

                    @include min.breakpoint(pc) {
                        width: 6rem;
                        font-size: 1.8rem;
                        line-height: calc(30 / 18);
                    }
                }

                .text {
                    width: 70%;;
                    font-size: 1.3rem;
                    font-weight: 100;
                    line-height: calc(15 / 13);

                    @include min.breakpoint(pc) {
                        display: inline-block;
                        width: 78%;
                        font-size: 1.8rem;
                        line-height: calc(30 / 18);
                    }
                }
            }
        }
    }
}